[defaults]
inventory          = inventory/aws_ec2.yml
remote_user        = ec2-user
host_key_checking  = False
stdout_callback    = yaml
interpreter_python = auto_silent
retry_files_enabled = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters portNumber=%p"
transfer_method = smart
