[defaults]
inventory = inventory.aws_ec2.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False

# ★これが重要：yaml callbackは使わない
stdout_callback = ansible.builtin.default
result_format = yaml

# ノイズ消したいなら（任意）
deprecation_warnings = False

[inventory]
enable_plugins = amazon.aws.aws_ec2, amazon.aws.aws_ssm

[privilege_escalation]
become = True
